body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 65px;
    padding: 15px 25px;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    transition: .3s ease-out;
    z-index: 99999;
}

.navbar .logo {
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    display: inline-block;
    cursor: default;
}

.navbar .linkbar {
    float: right;
    position: relative;
    right: 35px;
}

.navbar .linkbar li {
    display: inline-block;
    font-size: 26px;
    margin: 20px 15px;
    transition: .2s ease-in-out;
    cursor: default;
}

.navbar .linkbar li:hover {
    border-bottom: 3px solid black;
}

.navbar .linkbar li.active {
    border-bottom: 3px solid black;
}

.navbar .linkbar li:last-child {
    margin-right: 0;
} 

.jumbotron {
    height: 450px;
    background-image: url("../images/main-bg.jpg");
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(50, 50, 50, 1);
    transition: .02s ease-in-out;
}

.jumbotron h1 {
    font-size: 80px;
    padding-top: 180px;
    cursor: default;
    position: relative;
}

.jumbotron h2 {
    padding: 30px 0 0 0;
    font-size: 40px;
    position: relative;
}

.content {
    background-color: #FFFFFF;
    min-height: 350px; 
    padding: 35px 25px;
}

.content h2 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 25px;
}

.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 25px 25px 0 25px;
}

.about-left {
    order: 0;
    flex-grow: 3;
    flex-shrink: 3;
}

.about-left img {
    display: block;
    margin: 0 auto;
    padding-right: 25px;
    padding-bottom: 25px;
}

.about-right {
    order: 1;
    flex-grow: 6;
    flex-shrink: 3;
}

.portfolio-content {
    padding: 25px 25px 0 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.portfolio-child {
    margin: 0 25px 50px 25px;
    height: 350px;
    width: 300px;
    background-color: #fbfbfb;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-out;
    position: relative;
}

.portfolio-child:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.portfolio-nametag {
    position: absolute;
    bottom: 0;
    height: 65px;
    width: 270px;
    padding: 15px;
    background-color: #FFFFFF;
}

footer {
    padding: 40px 25px;
    min-height: 250px;
    background-color: #19141a;
    color: #FFFFFF;
}

footer h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer .social-icons a {
    color: #FFFFFF;
    text-decoration: none;
}

footer .icon-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

footer .icon-wrapper.gh{
    background-color: #24292e;
}

footer .icon-wrapper.linkedin{
    background-color: #0077b5;
}

footer .icon-wrapper.codepen{
    background-color: #343338;
}

footer .icon-wrapper span {
    padding-left: 25px;
    position: absolute;
    bottom: 15px;
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(50, 50, 50, 1);
}

footer .icon-wrapper:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 160px;
}

footer .icon-wrapper i {
    padding-top: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 770px) {
    
    .about-content {
        flex-wrap: wrap;
    }

    .navbar .linkbar li {
        font-size: 18px;
    }

}

@media screen and (max-width: 817px) {
    
    .portfolio-content {
        justify-content: center;
    }
}